assignment-2/node_modules
assignment-2/dist
assignment-2/.parcel-cache
assignment-3/node_modules
assignment-3/dist
assignment-3/.parcel-cache
assignment-4/node_modules
assignment-4/dist
assignment-4/.parcel-cache
assignment-5/node_modules
assignment-5/dist
assignment-5/.parcel-cache
assignment-6/node_modules
assignment-6/dist
assignment-6/.parcel-cache
assignment-7/node_modules
assignment-7/dist
assignment-7/.parcel-cache
assignment-8/node_modules
assignment-8/dist
assignment-8/.parcel-cache
assignment-9/node_modules
assignment-9/dist
assignment-9/.parcel-cache
assignment-10/node_modules
assignment-10/dist
assignment-10/.parcel-cache
assignment-10/fullconfig
