assignment-2/node_modules
assignment-2/dist
assignment-2/.parcel-cache
assignment-3/node_modules
assignment-3/dist
assignment-3/.parcel-cache
assignment-4/node_modules
assignment-4/dist
assignment-4/.parcel-cache
