@font-face {
  font-family: basis-grotesque-pro;
  src: url("../Fonts/BasisGrotesqueArabicPro-Regular.ttf");
}

:root {
  --h2-font-size: 24px;
  --default-font-size: 16px;
  --h3-font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: basis-grotesque-pro;
  font-size: var(--default-font-size);
  font-weight: normal;
}

.app.modal-active {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.app.modal-active * {
  pointer-events: none;
}

.modal-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay h1 {
  white-space: normal;
}

.modal-overlay.active {
  visibility: visible;
  pointer-events: all;
  animation: modal-overlay-opening 0.7s ease-in-out forwards;
}

.modal-overlay.active .modal {
  animation: modal-opening-animation 1s ease-in-out forwards;
}

@keyframes modal-overlay-opening {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 2px;
    width: 100vw;
  }
  100% {
    height: 100vh;
  }
}

@keyframes modal-opening-animation {
  0% {
    transform: scale(0);
  }
  62.5% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

h1,
h2,
h3 {
  font-weight: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

.app {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: auto;
}

.app > * {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app > * > * {
  width: 100%;
  max-width: 1300px;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  :root {
    --h2-font-size: 20px;
    --h3-font-size: 16px;
    --default-font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --h2-font-size: 16px;
    --h3-font-size: 14px;
    --default-font-size: 12px;
  }
}
