footer {
  background-color: black;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 0 100px;
  gap: 40px;
}

.footer-links {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer li {
  list-style-type: none;
  color: #ffffff99;
  text-align: center;
}

.footer h3 {
  text-align: center;
  color: white;
}

@media screen and (max-width: 970px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
